
RewriteEngine On
RewriteBase /cointrade/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^((?!(login|signup|home|exchange|contact|profile))[^/].+)$ index.php?page=$1

RewriteRule ^((login|signup|home|exchange|contact|profile).*) index.php?page=$1
